<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="USite" value="https://www.avsox.com" />
    <!-- http://jav.tellme.pw //-->
    <add key="CSite" value="https://www.avmoo.com" />
    <!-- http://javu.tellme.pw //-->
    <add key="BSite" value="https://www.javbus2.pw" />
    <add key="LSite" value="http://www.v22q.com" />
    <add key="UseProxy" value="0" />
    <add key="Proxy" value="http://127.0.0.1:10800" />
    <add key="MovieDataFile" value="D:\[BACKUPs]\DATA\m.xml" />
    <add key="StarDataFile" value="D:\[BACKUPs]\DATA\s.xml" />
    <add key="ArchiveName" value="DATA.COLLECTION" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>