<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="2.2.1.0" targetFramework="net452" developmentDependency="true" />
  <package id="MediaInfoDotNet" version="0.7.79.40925" targetFramework="net452" />
  <package id="PropertyChanged2.Fody" version="2.1.4.1" targetFramework="net452" developmentDependency="true" />
</packages>