<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aqla.runsharp" version="1.0.0.19" targetFramework="net452" />
  <package id="aqlaserializer" version="2.0.0.372" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.8.5" targetFramework="net452" />
  <package id="MediaInfoDotNet" version="0.7.79.40925" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
</packages>